#interests section {
    flex: 1 0 34%;
}

.bookimages img {
    flex-basis: 20%;
}

header {
    margin-bottom: 0;
}

#interests section {
    flex: 0 1 34%;
}

#interests > :nth-child(1),
#interests > :nth-child(2) {
    flex-basis: 34%;
}
