img {
    display: block
}

header {
    background-color: lightgray;
}

body {
    overflow-x: hidden;
}

#project-list {
    display: flex;
    overflow-x: auto;
}

.project .description p {
    display: none;
}