#image-full {
    position: fixed;
    pointer-events: none;
    overflow-x: auto;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 100;
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    overscroll-behavior: contain;
}

#image-full-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    z-index: 110;
}

#image-full-close {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: white;
    cursor: pointer;
    transition: transform 200ms;
}

#image-full-close:hover {
    transform: scale(1.1, 1.1);
}

#image-full.opened-once #image-full-preview {
    transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#image-full.opened-once {
    transition: opacity 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#image-full.opened {
    pointer-events: all;
    opacity: 1;
}

#image-full.opened #image-full-close {
    display: inline;
}

#image-full.opened #image-full-preview {
    transform: scale(1, 1);
}

#image-full-preview {
    position: relative;
    margin: 2rem auto;
    display: block;
    transform: scale(0, 0);
    user-select: none;
    width: min-content;
    scroll-snap-align: center;
}

#image-full.forcescroll {
    scroll-snap-type: both mandatory;
}

.project-description {
    padding: 1rem 0;
}

.project-title {
    text-align: center;
}

.project-role {
    padding-left: 0;
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.project-role li {
    list-style: none;
    list-style-position: inside;
    margin: 4px 12px;
}

.project-role li::before,
.project-role li::after {
    content: " • ";
    opacity: 0.5;
}

.project-role .role {
    grid-area: role;
}

.project-role .time {
    grid-area: time;
}

.project-role .team {
    grid-area: team;
}

.project-info {
    padding: 20px;
    text-align: center;
}

.project-info p {
    max-width: 65ch;
    margin: 1em auto;
}

.project-info,
.project-description {
    background-image: var(--gradient),
        url("https://www.transparenttextures.com/patterns/black-paper.png"),
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0.5) 0%
        ),
        var(--img, url("../images/city.jpg"));
    background-blend-mode: normal, darken, screen;
    background-size: auto auto, auto auto, auto auto, cover;
    background-position: center center;
}

.project-info:nth-child(3n),
.project-description {
    --gradient: linear-gradient(
        -10deg,
        rgba(253, 182, 120, 0.5),
        rgba(255, 224, 198, 0.8)
    );
    --img: url("https://images.unsplash.com/photo-1493928841026-e1ab0a590a61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
}

.project-info:nth-child(3n + 1) {
    --gradient: linear-gradient(
        190deg,
        rgba(192, 130, 213, 0.5) 0%,
        rgba(162, 104, 184, 0.8) 100%
    );
    --img: url("https://images.unsplash.com/photo-1611021809244-83074a8a42c1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

.project-info:nth-child(3n + 2) {
    --gradient: linear-gradient(
        190deg,
        rgba(66, 189, 238, 0.5) 0%,
        rgb(43, 173, 202, 0.8) 100%
    );
    --img: url("https://images.unsplash.com/photo-1546447601-852699cc6dee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80");
}

.project-info {
    padding: 20px;
    text-align: center;
}

img {
    margin: 0 auto;
    width: 100%;
    max-width: max-content;
    display: block;
    border-radius: 10px;

    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

footer {
    margin-top: 0;
}

#other-projects {
    justify-content: space-between;
    align-self: stretch;
}

a.case-study {
    margin-top: 1em;
    max-width: 50%;
}

#other-projects .img {
    width: 80%;
    height: 25vh;
}
