.content {
    display: block;
}

.container {
    padding: 0 50px;
}

.no-mobile {
    display: block;
}

.no-mobile-flex {
    display: flex;
}

.mobile-only {
    display: none;
}

header {
    margin-bottom: 1rem;
}

#project-list {
    flex-direction: column;
    align-items: center;
    height: auto; /* Removes the vertical scroll bar on tablet+ */
}

.overscroll {
    display: none;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project:nth-of-type(2n + 0) {
    flex-direction: row-reverse;
}

.project .img {
    height: 300px;
    width: 300px;
}

.project .description p {
    display: block; /* Make it show on tablets + */
}

.project .description {
    flex-basis: 40%;
    align-items: flex-start;
}

a.case-study {
    margin-top: 1em;
}

.project {
    justify-content: space-between;
    padding: 0;
}

.project .img {
    width: 50%;
    height: 45vw;
    border-radius: 0;
    margin: 0;
    flex: 1 0 50%;
}

.project .description {
    width: 30%;
    flex: 1 0 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squisher {
    width: 90%;
}

header {
    margin-bottom: 0;
}

footer {
    margin-top: 0;
}

.project {
    background-image: var(--gradient),
        url("https://www.transparenttextures.com/patterns/black-paper.png"),
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0.5) 0%
        ),
        var(--img, url("../images/city.jpg"));
    background-blend-mode: normal, darken, screen;
    background-size: auto auto, auto auto, auto auto, cover;
    background-position: center center;
}

.project:nth-child(3n + 1) {
    --gradient: linear-gradient(
        -10deg,
        rgba(253, 182, 120, 0.5),
        rgba(255, 224, 198, 0.8)
    );
    --img: url("../images/bg-1.jpg");
}

.project:nth-child(3n) {
    --gradient: linear-gradient(
        190deg,
        rgba(192, 130, 213, 0.5) 0%,
        rgba(162, 104, 184, 0.8) 100%
    );
    --img: url("../images/bg-2.jpg");
}

.project:nth-child(3n + 2) {
    --gradient: linear-gradient(
        190deg,
        rgba(66, 189, 238, 0.5) 0%,
        rgb(43, 173, 202, 0.8) 100%
    );
    --img: url("../images/bg-3.jpg");
}

}
